<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- Dependent class Config -->
	<bean id="date class" name="dt" class="java.util.Date"></bean>
	
	<!-- Target Class Configuration -->
	<bean id="WishMessage" class="com.nt.beans.WishMessage">
		<property name="date" ref="dt"></property>
	</bean>
	<alias name="WishMessage" alias="msg1"/>
	<alias name="msg1" alias="wmg"/>
</beans>